<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hits Restaurant</title>
  </head>

  <body>
    <a href="#resto" tabindex="0" class="skip_to_content">Skip To Content</a>

    <header>
      <h1 tabindex="0">Hits Restaurant</h1>
      <a class="hamburger" tabindex="0" href="#">☰</a>
      <nav class="menu">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#resto">Favorite</a></li>
          <li><a href="https://github.com/putriroslin">About Us</a></li>
        </ul>
      </nav>
    </header>

    <main id="main">
      <section id="hero">
        <div class="hero_content">
          <h2 tabindex="0">Hits Restaurant</h2>
          <p tabindex="0">
            Temukan Berbagai Pilihan Restoran yang Kamu Inginkan
          </p>
        </div>
      </section>

      <section id="resto">
        <h2 tabindex="0">Restaurant List</h2>
        <div class="resto_list"></div>
      </section>
    </main>

    <footer>
      <p tabindex="0">Copyright © 2022 Hits Restaurant</p>
    </footer>
  </body>
</html>
